<h3>Post Form</h3>
 
<%= form_for @post do |form| %>
  <%= form.label 'Post Title' %><br>
  <%= form.text_field :title %><br>
 
  <%= form.label 'Post Description' %><br>
  <%= form.text_area :description %><br>
 
  <%= form.submit %>
<% end %>